server:
    port: 9000
    
spring:
    application:
        name: API-GATEWAY
    cloud:
        gateway:
            # HAPUS level 'mvc' dari sini. 'routes' harus sejajar dengan 'gateway'.
            routes:
                - id: product-service
                  uri: lb://PRODUCT-SERVICE # Pastikan nama ini cocok dengan nama di Eureka
                  predicates: 
                    - Path=/api/produk/**

                - id: pelanggan-service
                  uri: lb://PELANGGAN-SERVICE
                  predicates: 
                    - Path=/api/pelanggan/**

                - id: order-service
                  uri: lb://ORDER-SERVICEkubect
                  predicates: 
                    - Path=/api/order/**

# --- KONFIGURASI EUREKA UNTUK DOCKER ---
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka/
  instance:
    prefer-ip-address: true